    body {
      font-family: Arial, sans-serif;
    }

    .navbar {
      background-image: url(https://wallpapercave.com/wp/wp3404266.png);
      background-size: cover;
      overflow: hidden;
      color: black;
      text-align: center;
    }

    .navbar h2 {
      font-size: 40px;
      margin: 10px 0;
    }

    table {
      border: 2px solid;
      background: white;
      margin: 0 auto;
      padding: 10px;
      width: 50%;
      height: 200px;
      border-radius: 15px;
    }

    .button {
      background-color: rgb(129 173 226);
      border: none;
      color: black;
      padding: 20px 40px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      width: 100%;
      transition: background-color 0.3s, color 0.3s;
    }

    .button:hover {
      background-color: black;
      color: rgb(129 173 226);
    }

    .button h2 {
      margin: 0;
    }

    .buttons {
      background-color: rgb(129 173 226);
      border: none;
      color: black;
      padding: 45px 90px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      width: 100%;
      transition: background-color 0.3s, color 0.3s;
    }

    .buttons:hover {
      background-color: black;
      color: rgb(129 173 226);
    }

    .buttons h2 {
      margin: 15px;
    }

    .button1 {
      border-radius: 12px;
    }

    .button4 {
      border-radius: 12px;
    }

    .button h1 {
      font-size: 24px;
    }

    .white-bg {
      background-color: black;
      color: white;
    }

    .navbar1-menu {
      list-style-type: none;
      font-weight: bold;
      color: black;
      text-align: right;
      margin: 0;
      padding: 10px;
    }

    .navbar1-menu li {
      display: inline-block;
      margin-left: 20px;
    }

    .navbar1-menu li:first-child {
      margin-left: 0;
    }

    .navbar1-menu li a {
      text-decoration: none;
      color: #333;

      font-size: 20px;
      padding: 10px;
    }

    .navbar1-menu li a:hover {
      background-color: #ddd;
      border-radius: 5px;
    }