    .navbar {
        background-image: url(https://png.pngtree.com/back_origin_pic/00/05/18/418888b9b1c49f62031c7799d18adc97.jpg);
        background-size: cover;
    }

    .login-heading {
        background-color: rgb(102 179 210);
        color: black;
        padding: 5px;
        text-align: center;
    }

    .panel {
        margin-top: 100px;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .box{
        padding-bottom:220px;
        background-image: url(https://wallpapercave.com/wp/wp3404266.png);
        background-size : cover;
    }

    .heading{
        text-align: center;
        font-weight: bold;
        background: black;
        color:white;
        margin-top:3px;
        padding-bottom:2px;
    }

    .login-options {
        text-align: center;
        margin-bottom: 20px;
    }

    .login-google {
        display: inline-block;
        background-color: rgb(129 173 226);
        color: white;
        padding: 10px 20px;
        border-radius: 4px;
        text-decoration: none;
        transition: background-color 0.3s;
    }

    .login-google:hover {
        background-color: black;
        color: rgb(129 173 226);
    }

    .or-text {
        text-align: center;
        font-weight: bold;
    }