<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:border-radius="http://www.w3.org/1999/xhtml">

<head>
  <title>Project Management</title>
  <link rel="stylesheet" th:href="@{/CssFiles/dashboard.css}">
  <link rel="stylesheet" href="/static/CssFiles/dashboard.css">
</head>

<body>
     <div class="navbar" id="mynav">
      <h2>Project Management Application</h2>
        <div class="white-bg">
          <h2>Prodevans Technologies</h2>
        </div>
        <div>
          <h1 style="margin :0px">Admin's Interface</h1>
        </div>
        <div class="navbar1">
          <ul class="navbar1-menu">
            <li><a href="https://www.prodevans.com/">About Us</a></li>
            <li><a href="https://www.prodevans.com/contactus">Contact Us</a></li>
            <li><a href="/logout">Logout</a></li>
            </a>
          </ul>
        </div>
      </div>
      <br><br><br><br><br>
        <table align="center" cellpadding="10" cellspacing="10" style="width: 50%; height: 200px;">

          <tr>
            <td>
              <div style="text-align:center">
                <a href="/project/add-project">
                  <button class="button button4">
                    <h2 class="cover-heading">Create New Project</h2>
                  </button>
                </a>
              </div>
            </td>

            <td>
              <div style="text-align:center">
                <a th:href="@{/admin/add-employee}">
                  <button class="button button4">
                    <h2 class="cover-heading">Add New Employee</h2>
                  </button>
                </a>
              </div>
            </td>

            <td>
              <div style="text-align:center">
                <a th:href="@{/department/add-department}">
                  <button class="button button4">
                    <h2 class="cover-heading">Add New Department</h2>
                  </button>
                </a>
              </div>
            </td>

          </tr>

          <tr>

            <td>
              <div style="text-align:center">
                <a th:href="@{/project/view-projects}">
                  <button class="button button4">
                    <h2 class="cover-heading">View Project Details</h2>
                  </button>
                </a>
              </div>
            </td>

            <td>
              <div style="text-align:center">
                <a th:href="@{/admin/view-employee}">
                  <button class="button button4">
                    <h2 class="cover-heading">Employee Details</h2>
                  </button>
                </a>
              </div>
            </td>
            <td>
              <div style="text-align:center">
                <a th:href="@{/department/view-bench-pool}">
                  <button class="button button4">
                    <h2 class="cover-heading">View Bench Pool</h2>
                  </button>
                </a>
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div style="text-align:center">
                <a th:href="@{/suggestion/view-suggestions}">
                  <button class="button button4">
                    <h2 class="cover-heading">Employees Suggestions</h2>
                  </button>
                </a>
              </div>
            </td>
            <td>
              <div style="text-align:center">
                <a th:href="@{/admin/show-employee}">
                  <button class="button button4">
                    <h2 class="cover-heading">Send Email Employees</h2>
                  </button>
                </a>
              </div>
            </td>
            <td>
              <div style="text-align:center">
                <a th:href="@{/department/view-bench-pool}">
                  <button class="button button4">
                    <h2 class="cover-heading">View Departments</h2>
                  </button>
                </a>
              </div>
            </td>
          </tr>

        </table>
        <br><br><br><br><br>

        <nav class="navbar navbar-inverse navbar-fixed-bottom">
          <footer class="mastfoot mt-auto">
            <div class="inner" style="text-align: center;">
              <h4 style=" font-weight: bold;">Project Management Application by <a href="https://www.prodevans.com/">Prodevans Technologies</a>.</h4>
            </div>
          </footer>
        </nav>

</body>
</html>
