<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/CssFiles/home-page.css}">
</head>

<body>
    <div class="container">
        <div class="box">
            <p>Welcome To </p>
            <p>Project Management Application</p>
            <div class="container0">
                <p>PRODEVANS TECHNOLOGIES</p>
            </div>
            <div class="container1">
                <p>Empowering Tomorrow's Technologies Today</p>
            </div>
            <div class="container2">
                <p>Please click the button below to log in:</p>
                <a th:href="@{/app/v1/login}">
                    <button class="btn btn-primary login-button">Login</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
